{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! The big featured header }}

  {{> "nav"}}


  <div class="container">

    <div class="section scrollspy">
      <div class="row">
         <div class="col s6 m4 l6"><h5 class="page-title red-text text-lighten-2">Al<span class="black-text">ex</span> D<span class="black-text">u</span>b<span class="black-text">inchyk, Developer</span></h5></div>
      </div>
    </div>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

    </div>
  </div>